<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'imageToday' %}">My Gallery</a>
      <ul>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-auto" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Category</a>
                <div class="dropdown-menu" aria-labelledby="category">
                    <a class="dropdown-item" href="#">Ladies-Blazer-ankara</a>
                    <a class="dropdown-item" href="#">Men_blazer-ankara</a>
                    <a class="dropdown-item" href="#">kids_ankara</a>
                </div>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-auto" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Location</a>
                <div class="dropdown-menu" aria-labelledby="category">
                    <a class="dropdown-item" href="/location/Nairobi">Nairobi</a>
                    <a class="dropdown-item" href="/location/Accra">Arusha</a>
                    <a class="dropdown-item" href="/location/New_York">Capetown</a>
                    <a class="dropdown-item" href="/location/Paris">Adis Ababa</a>
                    <a class="dropdown-item" href="/location/Alaska">Tripoli</a>
                </div>            
  
          </li>  
      </ul>               
    </div>
    <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Image" name="image">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>

              </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
    </div>
</nav>
</body>
</html>